* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.logo {
  display: flex;
  align-items: center;
}

ol {
  display: flex;
  list-style: none;
}

ol li a {
  padding: 0 20px;
  text-decoration: none;
  color: rgb(37, 33, 33);
  font-weight: 700;
}

/* Header SignUp Button */
.signup-btn {
  border-radius: 20px;
  background-color: rgb(44, 44, 179);
  color: white;
  padding: 10px 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.signup-btn:hover,
.signup-btn:focus {
  background-color: rgb(142, 72, 207);
}

.content-left {
  display: flex;
  padding: 2 rem;
  flex-direction: column;
  flex: 1;
  margin: 0 0 0 20%;
  align-items: flex-start;
}

.content-right {
  display: flex;
  padding: 1rem;
  flex: 1;
  justify-content: flex-start;
}

.container {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  margin: 3rem;
}

main h1 {
  font-weight: 400;
  font-size: 50px;
}

main h2 {
  font-family: "Sacramento", cursive;
  font-size: 40px;
  color: rgb(18, 138, 34);
}

/* Photo of doggies */
.dog_img {
  max-width: 600px;
  height: 500px;
}

.description {
  padding: 10px;
  font-weight: 400;
  letter-spacing: px;
}

button {
  display: flex;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: rgb(44, 44, 179);
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 auto;
}

button:hover,
button:focus {
  cursor: pointer;
  background-color: rgb(142, 72, 207);
}

.cat-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 300px;
}

.cat1,
.cat2,
.cat3,
.cat4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.cat-title h1 {
  text-align: center;
  margin: 2% 0 1% 0;
}

.text-title {
  display: block;
  padding: 5rem 20rem;
  margin: 0;
  font-style: italic;
  background-color: #e5e7eb;

  footer {
    text-align: right;
    font-weight: 500;
    font-style: normal;
  }

  h1 {
    text-align: justify;
    font-weight: 400;
  }
}
.bluebox {
  display: flex;
  background-color: #3882f6;
  margin: 4rem 20rem;
  border-radius: 10px;
  color: white;
  padding: 2rem;
  justify-content: space-around;
  align-items: center;
}

.blue1 h4 {
  font-weight: 300;
}

.blue2 {
  h5 {
    border: 1px solid white;
    padding: 8px 32px;
    border-radius: 10px;
  }

  .blue2-btn:hover,
  .blue2-btn:focus {
    background-color: blue;
    cursor: pointer;
  }
}
